.container {
  position: relative;
  padding-top: 12px;
}
.selected {
  border: 5px solid var(--primary-color);
}
.image {
  width: 100px;
}
.badge {
  position: absolute;
  top: 0;
  right: -6px;
  cursor: pointer;
}
